zcu102_rocketchip_UintrConfig/

# root
/*
!.gitignore
!project_info.tcl
!proj/
!repo/
!src/
!scripts/
!hw_handoff/
!dts
!Makefile

# vivado workspace
proj/*

# hardware handoff
hw_handoff/*
!hw_handoff/*.xsa

# ip repository
repo/**
!repo/vivado-library
repo/vivado-library/**
!repo/local
!repo/local/**
!repo/cache
repo/cache/**

# maintain required directories
!**/.keep

# rocketchip test result
*.out

# rocketchip verilog
src/hdl/*.v
src/hdl/*.sv

.Xil/